@using stdblog.Models

@{


    ViewBag.Title = "Home";
    Layout = "~/Views/sidebar/sidebarLayout.cshtml";
}
    <body>


        @{Html.RenderAction("Sidebar", "sidebar");}

        @using (var student = new studentDBase())
        {
            foreach (var blog in student.blogposts)
            {
                @*<div class="content">
                    <div class="col-lg-8">
                        <div>
                            <div style="width:1000px">
                                <div >
                                    <h2>author</h2>
                                </div>

                                <div >

                                    <p>content</p>
                                </div>
                                <div >

                                </div>

                            </div>


                        </div>
                    </div>
                </div>*@
                


            }
        }

    </body>


